@model practica04.Models.Imagenes

<div class="container">
    <div class="row">
        <form asp-action="Ingresar">
            <div class="form-group">
                <label asp-for="nombreUsuario" class="control-label"></label>
                <input asp-for="nombreUsuario" class="form-control">
                <span asp-validation-for="nombreUsuario" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="imagen" class="control-label"></label>
                <input asp-for="imagen" class="form-control">
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div><hr>
            <div>
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control">
                <span asp-validation-for="date" class="text-danger"></span>
            </div><hr>
            <div>
                <button class="btn btn-success">Publicar</button>
            </div>
        </form>
    </div>
</div>